<div class="connect">
    <div class="connections">
        <div class="name">
            <label for="value"></label>
            <div class="controls">
                <fa-icon [icon]="icons.faAddressBook" (click)="addConnectModal.show()"></fa-icon>
            </div>
        </div>
        <div class="list">
            <div class="list-item" *ngFor="let connection of connections" [ngClass]="{active: connection?.connect.connection_id === redisConnection?.connection_id}">
                <fa-icon [icon]="icons.faDatabase"></fa-icon>
                <span class="name" (click)="connect(connection.connect)" [title]="connection.name">{{connection.name}}</span>
                <span class="controls">
                <fa-icon [icon]="icons.faTimes" (click)="closeConnect(connection)"></fa-icon>
                <fa-icon [icon]="icons.faInfoCircle" (click)="redisInfo(connection.connect)"></fa-icon>
            </span>
            </div>
        </div>
    </div>
    <app-conection *ngIf="redisConnection" [connect]="redisConnection"></app-conection>
</div>
<app-modal #add_connect_modal>
    <div class="input-item">
        <label for="connect-name">Name</label>
        <input id="connect-name" type="text" [value]="'localhost'" #connect_name/>
    </div>
    <div class="input-item">
        <label for="connect-host">Host</label>
        <input id="connect-host" type="text" [value]="'127.0.0.1'" #connect_host/>
    </div>
    <div class="input-item">
        <label for="connect-port">Port</label>
        <input id="connect-port" type="number" [value]="6379" #connect_port/>
    </div>
    <div class="input-item">
        <label for="connect-pass">Password</label>
        <input id="connect-pass" type="text" #connect_pass/>
    </div>
    <div class="controls">
        <button (click)="addConnect(connect_name.value, connect_host.value, connect_port.value, connect_pass.value)">SET</button>
    </div>
</app-modal>
<app-modal #connect_info_modal>
    <pre>{{connectInfo}}</pre>
</app-modal>
