:host {
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;

    .control-list {
        padding: 5px;

        button {
            height: 30px;
        }
    }

    .connect {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: stretch;

        order: 0;
        flex: 1 1 auto;
        align-self: auto;

        padding: 5px;

        .connection-list {
            width: 200px;
            overflow: auto;

            border: 1px solid #aaaaaa;

            .connection-item {
                cursor: pointer;
                padding: 2px;
                border: 1px solid #aaa;

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-content: center;
                align-items: center;

                * {
                    white-space: nowrap;
                }

                .name {
                    order: 0;
                    flex: 1 1 auto;
                    align-self: auto;
                    margin: 0 2px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}
