:host {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;

    order: 0;
    flex: 1 1 auto;
    align-self: auto;

    .key {
        width: 200px;
        border: 1px solid #aaaaaa;
        margin: 0 5px 0 0;

        .key-item {
            cursor: pointer;
            padding: 2px;
            border: 1px solid #aaa;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;

            * {
                white-space: nowrap;
            }

            .name {
                order: 0;
                flex: 1 1 auto;
                align-self: auto;
                margin: 0 2px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    textarea {
        order: 0;
        flex: 1 1 auto;
        align-self: auto;
    }
}
