:host {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;

    app-value {
        order: 0;
        flex: 1 1 auto;
        align-self: auto;
    }
}
