<button (click)="show()">
    <fa-icon [icon]="icons.faSyncAlt"></fa-icon>
</button>
<button (click)="setKeyModal.show()">
    <fa-icon [icon]="icons.faFile"></fa-icon>
</button>
<div class="key">
    <div class="key-item" *ngFor="let key of keyList">
        <fa-icon [icon]="icons.faHashtag"></fa-icon>
        <span class="name" (click)="get(key)" [title]="key">{{key}}</span>
        <span class="controls">
            <fa-icon [icon]="icons.faEdit" (click)="newKeyModal.show(key)"></fa-icon>
            <fa-icon [icon]="icons.faTrashAlt" (click)="del(key)"></fa-icon>
        </span>
    </div>
</div>
<button (click)="set()">
    <fa-icon [icon]="icons.faSave"></fa-icon>
</button>
<textarea [(ngModel)]="value"></textarea>
<app-modal #new_key_modal>
    <div>
        <label for="key">new key</label>
        <input id="key" type="text" #new_key_value/>
    </div>
    <button (click)="rename(new_key_value.value)">SET</button>
</app-modal>
<app-modal #set_key_modal>
    <div>
        <label for="key-name">Key</label>
        <input id="key-name" type="text" #key_name/>
    </div>
    <div>
        <label for="value">Value</label>
        <textarea id="value" #key_value></textarea>
    </div>
    <button (click)="set(key_name.value, key_value.value)">SET</button>
</app-modal>
