<button (click)="show()">
    <fa-icon [icon]="icons.faSyncAlt"></fa-icon>
</button>
<button (click)="setKeyModal.show()">
    <fa-icon [icon]="icons.faFile"></fa-icon>
</button>
<div class="list">
    <div class="list-item" *ngFor="let key of keyList" [ngClass]="{active: redisKey === key}">
        <fa-icon [icon]="icons.faHashtag"></fa-icon>
        <span class="name" (click)="redisKey = key" [title]="key">{{key}}</span>
        <span class="controls">
            <fa-icon [icon]="icons.faEdit" (click)="newKeyModal.show(key)"></fa-icon>
            <fa-icon [icon]="icons.faTrashAlt" (click)="redisDel(key).catch()"></fa-icon>
        </span>
    </div>
</div>
<app-value [connect]="_connect" [key]="redisKey"></app-value>
<app-modal #new_key_modal>
    <div class="input-item">
        <label for="key">new key</label>
        <input id="key" type="text" #new_key_value/>
    </div>
    <div class="controls">
        <button (click)="redisRename(new_key_value.value).catch()">SET</button>
    </div>
</app-modal>
<app-modal #set_key_modal>
    <div class="input-item">
        <label for="key-name">Key</label>
        <input id="key-name" type="text" #key_name/>
    </div>
    <div class="input-item">
        <label for="key-value">Value</label>
        <textarea id="key-value" #key_value></textarea>
    </div>
    <div class="controls">
        <button (click)="redisSet(key_name.value, key_value.value).catch()">SET</button>
    </div>
</app-modal>
